<mat-card>
  <mat-card-title>
    Cadastro de Clientes
  </mat-card-title>
  <mat-divider></mat-divider>
  <mat-card-content>
    <section>
      <mat-form-field>
        <input matInput placeholder="Digite seu nome" name="name" [(ngModel)]="name">
        <mat-icon matSuffix>person</mat-icon>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Idade" type="number" name="age" [(ngModel)]="age">
      </mat-form-field>

      <mat-radio-group [(ngModel)]="sex">
        <mat-radio-button name="sex" *ngFor="let sex of sexes" [value]="sex"> {{ sex }}</mat-radio-button>
      </mat-radio-group>

      <mat-form-field>
        <input matInput placeholder="Digite seu Endereço" name="address" [(ngModel)]="address">
      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="Cidade" [(ngModel)]="city">
          <mat-option *ngFor="let city of cities" [value]="city.name">
            {{city.name}} - {{city.state}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </section>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="save()" *ngIf="!showEdit">Save</button>
    <button mat-raised-button color="warn" (click)="clean()" *ngIf="!showEdit">Limpar Campo</button>
    <button mat-raised-button color="primary" (click)="update()" *ngIf="showEdit">Atualizar</button>
    <button mat-raised-button color="warn" (click)="cancelEdit()" *ngIf="showEdit">Cancelar</button>
    <button mat-raised-button color="basic" (click)="list()" *ngIf="!showEdit">Listar</button>
  </mat-card-actions>
</mat-card>



<mat-card *ngIf="showList && clients.length !== 0">
  <mat-card-title>
    Lista de Clientes
  </mat-card-title>
  <mat-divider></mat-divider>
  <mat-card-content>
    <mat-list>
      <ng-container *ngFor="let client of clients; let i = index">
        <mat-list-item>
          <mat-icon matListIcon>person</mat-icon>
          <h2 matLine>Nome: {{ client.name }}</h2>
          <h2 matLine>Idade: {{ client.age }}</h2>
          <h2 matLine>Sexo: {{ client.sex }}</h2>
          <h2 matLine>Endereço: {{ client.address }}</h2>
          <h2 matLine>Cidade: {{ client.city }}</h2>

          <button mat-icon-button color="basic" (click)="editClient(i)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="accent" (click)="deleteItem(i)">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-list-item>
        <mat-divider></mat-divider>
      </ng-container>
    </mat-list>
  </mat-card-content>
</mat-card>
